 <div class="wrapper">  
    <div class="footer-col-wrapper"> 
 
      <div class="footer-col footer-col-1"> 
   
         <ul class="contact-list">  
           <li> 
            {% if site.contact_lab %} 
              {{ site.contact_lab | escape }} 
            {% endif %}  
            </li>  
            {% if site.contact_email %}  
            <li><a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></li>   
            {% endif %}  
         </ul>  
       </div>  
  
    <div class="footer-col footer-col-3" style="float:right;"> 
             {{ site.copyright | escape }} {{ site.site_author | escape }}  
       </div>

     </div>
  
   </div>
